@charset "UTF-8";

.text-center {
	margin-bottom: 30px;
}

.select {
	
	
	float: left;
	margin-right: 20px;
	margin-left: 100px;
}


.check{
	
	float: left;
	margin-right: 20px;
}

#ingBtn {
	
	width: 80px;
}


#bosslogo1 {
	margin-right: 200px;
}
#bosslogo2 {
	margin-right: 475px;
}
