@charset "UTF-8";

.text-center {
	margin-bottom: 30px;
}

	
.select-foodHome {
	float: left;
	margin-left:45px;
	margin-right: 30px;
}

.select-menu {
	float: left;
	margin-right: 30px;
	
}

.check {
	float: left;
	margin-right: 20px;
}


.insertBtn {
	
	float: left;
	margin-right: 20px;
	
}


#soldBtn {
	
	width: 80px;
}



#bosslogo1 {
	margin-right: 200px;
}
#bosslogo2 {
	margin-right: 475px;
}

