<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BaeminMapper">

	
	<!-- 회원 테이블 삽입 -->
	<insert id="insertJoin" parameterType="member">
		INSERT INTO member(m_id, m_password, m_tel, m_birth, m_gender)
		VALUES(#{mId}, #{mPassword}, #{mTel}, #{mBirth}, #{mGender})
	</insert>
	
	<!-- 사장님 테이블  삽입 -->
	<insert id="insertBossJoin" parameterType="boss">
		INSERT INTO boss(b_num, b_id, b_password, b_name, b_mail, b_birth, b_tel)
		VALUES(#{bNum}, #{bId}, #{bPassword}, #{bName}, #{bMail}, #{bBirth}, #{bTel})
	</insert>
	
	<!-- 업소 테이블 삽입 -->
	<insert id="insertFoodHome" parameterType="foodhome">
		INSERT INTO food_home (f_boss, f_name, f_location, f_open, f_close, f_tel, f_category, f_img)
		VALUES (#{fBoss}, #{fName}, #{fLocation}, #{fOpen}, #{fClose}, #{fTel}, #{fCategory}, #{fImg})
	</insert>
	
	<!-- user인지 아닌지 확인 -->
	<select id="selectUser" parameterType="hashmap" resultType="member">
		SELECT *
		FROM member
		<where>
			m_id = #{mId}
			<if test="mPassword != null">
				AND m_password = #{mPassword} 
			</if>
		</where>
	</select>
	
	<!-- 사장님인지 아닌지 확인 -->
	<select id="selectBoss" parameterType="hashmap" resultType="boss">
		SELECT *
		FROM boss
		<where>
			b_id = #{bId}
			<if test="bPassword != null">
				AND b_password = #{bPassword} 
			</if>
		</where>
	</select>

	<!-- 카테고리로 검색 -->
	<select id="selectCate" parameterType="hashmap" resultType="foodhome">
		SELECT *
		FROM food_home
		<where>
			<if test="fCategory != null">
				f_category = #{fCategory}
			</if>
			<if test="fName != null">
				f_name LIKE #{fName}
			</if>
		</where>
	</select>
	
	<!-- 메뉴 목록 조회 -->
	<select id="selectMenu" parameterType="hashmap" resultType="menu">
		SELECT menu_num, menu_name, menu_soldout, menu_price, menu_food, menu_img
		FROM menu 
		WHERE menu_food = #{fboss}
	</select>

	<insert id="insertOrder" parameterType="order">
		INSERT INTO order_list(o_num, o_tel, o_address, o_date, o_request, o_money, o_member, o_food, o_menu_name, o_menu_cnt)
		VALUES(seq_order.nextVal, #{oTel}, #{oAddress}, sysdate, #{oRequest}, #{oMoney}, #{oMember}, #{oFood}, #{oMenuName}, #{oMenuCnt})
	</insert>
</mapper>