<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BaeminMenuMapper">

	
	
	 
	
	<!-- 메뉴 테이블 -->
	<insert id="insertAddMenu" parameterType="menu">
		INSERT INTO menu(menu_num, menu_name, menu_price, menu_boss, menu_img)
		VALUES(seq_menu.nextval, #{menuName}, #{menuPrice}, #{menuBoss}, #{menuImg})
	</insert>
	
	<!-- 메뉴 품절 관리 -->
	<update id="updateSoldOut" parameterType="menu">
		UPDATE menu SET menu_soldout = #{menuSoldOut}
		WHERE menu_num = #{menuNum}
	</update>
	
	<!-- 운영 정보 수정 -->
	<update id="updateEdit" parameterType="foodhome">
		UPDATE food_home SET f_open = #{fOpen}, f_close = #{fClose}, f_tel = #{fTel}
		WHERE f_boss = #{fBoss}
	</update>
	
	<!-- 일시 운영 중지 -->
	<update id="updateIng" parameterType="foodhome">
		UPDATE food_home SET f_ing = #{fIng}
		WHERE f_boss = #{fBoss}
	</update>
	
	<!-- 리뷰 등록 -->
	<insert id="insertReview" parameterType="review">
		INSERT INTO review (r_num, r_content, r_date, r_member, r_boss)
		VALUES (seq_review.nextval, #{rContent}, sysdate, #{rMember}, #{rBoss})
	</insert>
	
	<!-- 업소 테이블 -->
<!-- 	<insert id="insertFoodHome" parameterType="foodHome"> -->
<!-- 		insert into food_home (f_boss, f_name, f_location, f_open, f_close, f_tel, f_category) -->
<!-- 		values ( #{fBoss}, #{fName}, #{fLocation}, #{fOpen}, #{fClose}, #{fTel}, #{fCategory}) -->
<!-- 	</insert> -->
	
	

</mapper>