@charset "UTF-8";

#info{
	position: absolute;
  	top: 160px; 
  	left: 70%; 
	width: 260px;
	margin: 0px;
}
.shop-basic-info{
/*  	border: 1px solid black; */
	height: 70px;
	
}
#main{  
	width: 70%;
	margin-left: 15px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
}
dd{
	margin-bottom: 5px;
}
#login{
/* 	margin: -1px; */
	display: table-cell
}
.shop-det-info{
/* 	border: 1px solid black; */
	margin-bottom: 20px;
}
.cart{
/* 	border: 1px solid black; */
}
.cartMenu{
	border-bottom: 1px dotted black;
	padding: 2px;
}
.menuName{
	width: 100px;
}
.cnt{
	width: 50px;
}