@charset "UTF-8";

	.center{
 		width : 450px; 
	}
	
	
	p {
		font-size: 15px;
		color: #999999;
	}
	

	input[type="checkbox"] { 
 		width: 25px; 
 		height: 25px; 
 	} 
 	
	
	.label1 {
		margin-left: 30px;
		font-size:13px;
		color: #999999;
	}
	

	.gen li{
	
		display: inline-block;
		width: 140px; 
	}
	
	.gen label{ 
		font-size: 18px;
 	} 

 	.gender{ 
 		width: 30px; 
 		height: 30px; 
 	} 


	.tel { 
		width : 140px; 
		height : 50px;
		margin-right : 10px;
		text-align: center;
 	} 
 	
 	.year { 
		width : 440px; 
		height : 50px;
 	} 
 	

	.cau{
		width: 440px;
		height: 145px;
		background-color: #f5f5f5;
		display: none;	
	}
	
	
	.cau li{  
		font-size : 13px;
		color : #666666;
		padding : 15px;
	} 
	

	.caution{
		display: table-cell; 
  		vertical-align: middle;
	}
	
	
	ul {
		list-style:none; 
		padding-left:0px;
	}
	
	
	span {
		font-size: 15px;
		margin-left: 9px;
		color: #999999;
	}


	.cen {
		width: 30em;
 		margin : auto; 
	}
	

	.btn{
		color : #FFFFFF;
		font-size: 20px;
		width: 220px;
		height: 50px;
		border: 0px;
		outline: 0;
		cursor: pointer;
	}
	
	.btn-cancel{
		background-color: #5b5b5b;
	}
	
	.btn-finish{
		background-color: #2ac1bc;
	}
	
	
	.gen li label {
		position: relative; 
		top: -10px;
	}
	
	.checkbox label {
		position: relative; 
		top: -7px;
	}
	
 	.btn-caution { 
 		border: 0px; 
 		outline: 0; 
 		background-color: #ffffff;
 		color: #999999;
 		cursor: pointer;
 		margin-top : 3px;
 	} 
	



.white_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.white_content p {
	font-size: 20px;
	text-align: center;
}

.close {
	width: 100%;
	font-size: 15px;
	margin-top: 50px;
	height: 40px;
	border: none; 
	outline: none; 
	cursor: pointer;
	font-weight: bolder;
}

.white_content:target {
    opacity:1;
    pointer-events: auto;
}

.white_content > div {
	position: absolute;
	top: 30%;
	left: 35%;
	width: 25%;
	height: 25%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	overflow: auto;	
}



	