@charset "UTF-8";

.center{
 	width : 450px; 
}
/* step1 이미지 */
	#step1 {
		width : 450px;
		margin : auto;
	}
/* 	ul 리스트 */
	li {
		font-size : 13px;
		color : DarkGray;
	}
	span {
		color : black;
	}
	b {
		color : #20B2AA;
	}
	p {
		display: inline-block;
		margin : 0px;
	}
	#title {
		font-weight: bold;
		font-size : 17px;
	}
	#question {
		float : right;
		font-size : 13px;
		text-decoration: underline;
		color : DarkGray;
		line-height: 3.0;
	}
	input {
		width : 440px;
		height : 50px;
		margin : 8px 0;
	}
	.in {
		text-indent: 10px;
		color: SlateGray;
 		border: 1px solid lightGray;
  		border-radius: 3px;
	}
	#btn {
		background-color : #20B2AA;
		font-size : 20px;
		text-align: center;
		color : white;
		border : 0px;
		cursor: pointer;
		
	}
	.cen {
		width: 30em;
 		margin : auto; 
	}