@charset "UTF-8"

 * {
	box-sizing: border-box;
}

body {
	margin: 0;
}

div {
	padding: 10px 0 0 0;
}

form {
	position: relative;
	width: 300px;
	margin: 0 auto;
}
.d1 {
	display: inline-block;
}
.d1 input {
	width: 100%;
	height: 42px;
	padding-left: 10px;
	border: 2px solid #2ac1bc;
	border-radius: 5px;
	outline: none;
	background: #FFFFFF;
	color: #9E9C9C;
}

.d1 button {
	position: absolute;
	top: 0;
	right: 0px;
	width: 42px;
	height: 42px;
	border: none;
	background: #2ac1bc;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.d1 button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}

	/* 	로그인 회원가입 사장님   */
	#quickmenu {
		text-align : right;
		margin : 0 30px;
		padding : 10px 0;
		font-size : 13px;
	}
	a {
		text-decoration: none;
		color : SlateGray;
	}
	a:visited {
    color: SlateGray;
	}
	/* 	퀵메뉴 제외 가운데 정렬 */
 	.center{ 
	 	width:100%; 
 	} 
 	.center h3{
 		text-align:center;
 	}
/*  	검색창 */
 	input {
 		color : SlateGray;
 		border: 1px solid lightGray;
  		border-radius: 3px;
  		text-indent: 10px;
  		height : 25px;
 	}
 	#SelectLocation {
 		width : 160px;
 	}
 	#SelectFoodHome {
 		width : 300px;
 	}
