@charset "UTF-8";

/* 	카테고리 */
	.category {
		width : 150px;	
		margin : 10px 13px;	
	}
	#c {
		margin : 60px 0;
		width : 100%;
	}
	.cate {
		width : 70%;
		margin : auto;
	}
/* 가운데 정렬 */
 	.center{ 
	 	width:100%; 
 	} 
 	.center h3{
 		text-align:center;
 	}