@charset "UTF-8";

#foodhome {
	background-color: #faedff;
}

#foodhome-all {
	width : 75%;
	margin : auto;
}

#sort {
	text-align: right;
	padding : 10px 25px;
	
}

.home1, .food {
	display: inline-block;
}

.food {
	width: 320px;
	padding: 15px;
	background-color: white;
	margin: 10px 10px;
}

.img {
	float: left;
}

.home1 {
	width: 100%;
}

.home2 {
	padding: 20px;
	text-indent: 10px;
	font-size: 13px;
}

.fName {
	font-weight: bold;
	text-indent: 0px;
	font-size: 18px;
	width: 150px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fLocation {
	width: 150px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 11px;
	color: grey;
}

.fTel {
	width: 150px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.rCount {
	color: black;
	font-weight: bold;
	width: 150px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.rCount span {
	color: coral;
}